.inputForm {
  background: #fff;
  color: #939598;
  border-radius: 30px;
  box-shadow: none;
  width: 100%;
  border: 1px solid #f1f2f2;
  padding-left: 15px;
  margin: 8px 0;
  line-height: 30px;
  outline: none;
}