.wrapper {

}

.toggleTitle {
  position: relative;
  background-color: #E5E5E5;
}

.toggleTitle:hover {
  background-color: #BDBDBD;
}

.toggleTitle h4 {
  color: #3778A1;
  padding-left: 33px;
  display: inline;
  cursor: pointer;
}

.toggleIcon {
  position: absolute;
  left: 5px;
  top: 5px;
  background-color: transparent;
  display: inline-block;

}

.toggleIcon:before {
  content: '';
  display: block;
  height: 2px;
  width: 10px;
  background-color: #3778A1;
  position: absolute;
  top: 8px;
  left: 4px;
}

.toggleIcon:after {
  content: '';
  display: block;
  height: 10px;
  width: 2px;
  position: absolute;
  visibility: hidden;
  background-color: #3778A1;
  top: 4px;
  left: 8px;
}

.active.toggleIcon:after {
  visibility: visible;
}

.toggleContent {
  padding-left: 33px;
  transition: all 2s linear;
}

.On {
  display: block;
  transition: all 2s linear;
}

.Off {
  display: none;
  transition: all 2s linear;
}

