.postPage {
  display: flex;
  justify-content: center;
  background: aliceblue;
  width: 100%;
  min-height: 100vh;
  white-space: pre-wrap;
}

.postContainer {
  width: 900px;
  background: #fff;
  box-shadow: 0 0 35px rgba(0,0,0, .4);
  padding: 40px;
  border-radius: 0 0 6px 6px;
  color: #27aae1;
}

.postWrapper {
  background-color: #f8f8f8;
  margin-left: 0;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #777777;
  word-wrap: break-word;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.postTitle {
  font-weight: bold;
  font-size: 16px;
  color: #27aae1;
}

.author {
  font-weight: 600;
  color: #27aae1;
  display: flex;
  justify-content: left;
}

.avatar {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.authorLink {
  font-weight: 600;
  color: #337ab7;
  padding: 10px;
  text-decoration: none;
}

.authorLink:active, .authorLink:visited {
  color: #27aae1;
}

.footer {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.deletePost {
  font-weight: 600;
  color: #337ab7;
  margin-right: 10px;
}













