.notify {
    position: relative;
    height: 70px;
    width: 100%;
    background-color: #27aae1;
    color: white;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 5px 0 0 5px;
    /*opacity: 0.5;*/
}

.closeNotify {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
}